nav {
    background : #79B84E;
}

nav .menu {
  display : flex ;
  flex-direction : row;
  margin: auto;
  width : 40%;
  padding : 15px;

}
nav .menu ul {
    display : flex;
    flex-direction: row ;
    gap : 50px ;
    margin: auto;
}
nav .menu li {
    text-decoration: none;
    list-style: none;

}
nav .menu li a {
    text-decoration: none;
    color : rgb(255, 255, 255);
    padding : 15px;

}
nav .menu li :hover {
background-color: #085805;
transition : 0.5s
}