nav {
    background : #79B84E;
}

nav .menu {
  display : flex ;
  flex-direction : row;
  padding : 15px;
  margin: auto;
  width : 40%;
}
nav .menu ul {
    display : flex;
    flex-direction: row ;
    gap : 50px ;
    margin: auto;
}
nav .menu li {
    text-decoration: none;
    list-style: none;
}
nav .menu li a {
    text-decoration: none;
    color : rgb(255, 255, 255);
}
nav .menu li :hover {
    border-bottom: 1.5px solid white;
    transition : 0.5s
}